.navigation {
  position: fixed;
  top:0;
  left: -300px;
  z-index: 0;
  width: 300px;
  list-style: none;
  background: #aeaeae;
}
.navigation .nav-item a:nth-child(6) {
  border-bottom: 1px solid #666;
}
.navigation_sub .nav-item a{
  list-style: none;
  padding-left:35px;
  background: #555;
}
.nav-item a{
  border-top: 1px solid #666;
}
.navigation_sub .nav-item a:nth-child(4) {
  border-top: 1px solid #666;
}
.nav-item a {
  display: block;
  padding: 5px;
  background: #494948;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}
.nav-item a span {
	float:right;
	color:#fff;
	margin: 0 10px 0 0;
}
.navigation_sub .nav-item a span {
	color:#ccc;
}
.nav-item a.button_tw, .nav-item a.button_fb, .nav-item a.button_in, .nav-item a.button_yt, .nav-item a.button_xn, .nav-item a.button_ku{
	float:left;
	height:30px;
	width:50px;
  background: #6C9;
	background:url(buttons_social_media_kl.png) no-repeat;
}
.nav-item a.button_tw{
	background-position:0 0;
}
.nav-item a.button_fb{
	background-position:-50px 0;
}
.nav-item a.button_in{
	background-position:-100px 0;
}
.nav-item a.button_yt{
	background-position:-150px 0;
}
.nav-item a.button_xn{
	background-position:-200px 0;
}
.nav-item a.button_ku{
	background-position:-250px 0;
}
.nav-item a:hover {
	opacity: 0.8;
}
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  position: fixed;
  left: 0; top: 71px;
  z-index: 2;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background:#999 url(hb.png) no-repeat;
  background-size: 40px 40px;
  background-position: 10px 10px;
  opacity:0.6;
}
.nav-trigger + label, .navigation {
  transition: left 0.3s;
}

.nav-trigger:checked + label {
  left: 310px;
}

input:checked ~ .navigation {
  left: 0;
  z-index:100;
}

@media screen and (max-width: 620px) {
}
@media print {
}
